body{
    color: rgb(219, 35, 35);
    background-color: aliceblue;
}
form label {
    color: #1d13ac;
}
ul li{
    color: chartreuse;
}
p{
    color: rgb(13, 15, 14);
}
#per{
    color: rgb(174, 27, 27);
}